
.canva-pro {
  list-style: none;
  font-family: Canva Sans, sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: #0d1216;
  line-height: 22px;

}



.action-buttons{
  list-style: none;
  display: flex;
  gap: 0.1rem;
  justify-content: space-between;
}

ul a {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a {
  height: 4rem;
}


/* lista de coroa colocando espaço  */
li.coroa {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.coroa {

  border-radius: 4px;
  background-color: #f2f3f5;
  display: flex;
  flex-wrap: nowrap;
  width: 18rem;
  padding: 1px;
  height: 65px;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */

}

.coroa img {
  width: 1.6rem;
  height: 1.6rem;

}

.direita {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 30px;
  padding: 0 7px;

}


.esquerda {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 0 4rem;
  height: 100%;

}

.coluna {
  /* height: ; */
  padding: 0.8rem 0rem;
}


.logomarca {
  max-width: 20vh;
  height: 3rem;
}

.colunas img {
  max-width: 19vh;
  height: 2.8rem;
  gap: 0.8rem;

}

.configs img {
  max-width: 19vh;
  height: 2.8rem;
  gap: 0.8rem;

}

.configs ul {
  gap: 0.8rem;
}


.config {
  width: 5rem;
  height: 5rem;

}

.coluna {
  width: 5rem;
  height: 5rem;
}

.usuario {
  width: 5rem;
  height: 5rem;
}

.usuario img {
  max-width: 22vh;
  height: 2.8rem;
  gap: 0.8rem;

}

#botao-coroa {
  border: none;
  background-color: transparent;
}

/* modificações hover da header */

.coroa:hover {
  background-color: #e1e4e7;
  cursor: pointer;
}

.config:hover {
  background-color: #f2f3f5;
  border-radius: 5px;
}

.colunas:hover {
  background-color: #f2f3f5;
  border-radius: 5px;
}